# =========================
# Python
# =========================
backend/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================
.env
*.env

# =========================
# Vector Database
# =========================
backend/vector_store/

# =========================
# Uploaded Documents
# =========================
backend/uploads/

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/
npm-debug.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db